#linking{
    font-family: 'Libre Barcode 39 Text';
    margin-top: 0px;
    font-size: 50px;
    margin-right: 10px;
    text-align: center;
}
a{
    color: grey
}
a:hover{
    color:white;
}
#about-me{
    height: 400px;
    width: 600px;
    font-size: 20px;
    font-weight: 300;
        
}
#my-pic{
    width:320px; height:320px;
    
   
}
footer{
    margin-top:10px;
}