#linking{
    font-family: 'Libre Barcode 39 Text';
    margin-top: 0px;
    font-size: 50px;
    margin-right: 10px;
    text-align: center;
}
a{
    color: grey
}
a:hover{
    color:white;
}
#about-me{
    height: 375px;
    width: 600px;
    font-size: 20px;
    font-weight: 300;
        
}
#my-pic{
    width: 300px; height:320px;
    
   
}
footer{
    margin-top:10px;
}

@media(max-width: 640px) {
    #about-me{
        height: 375px;
        width: 200px;
        font-size: 20px;
        font-weight: 300;
    }     
        #my-pic{
            width: 320px;   
        }
}
@media(max-width: 1050px) {
    #about-me{
        height: 375px;
        width: 200px;
        font-size: 20px;
        font-weight: 300;
    }     
        #my-pic{
            width: 320px; 

            
           
        }
}

@media(max-width: 1300px) {
    #about-me{
        height: 375px;
        width: 600px;
        font-size: 20px;
        font-weight: 300;
    }     
        #my-pic{
            width: 320px; 
            
           
        }
}